.Value {
  width: 100vw;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(111, 111, 111, 1) 19%,
    rgba(52, 52, 52, 1) 53%
  );

  display: grid;
  place-items: center;
  row-gap: 10vh;
  padding: 15vh 0vh 5vh 0vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.5px solid #daeb7e91;
  border-radius: 10px;

  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  box-shadow: 5px 6px 8px 5px #29252c;
  padding: 5px 10px;
}

.more-btn {
  cursor: pointer;
  color: #d9ed6a;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Value {
    row-gap: 10vh;
    padding: 10vh 0vh 5vh 0vh;
  }
}
