.Carousel {
  margin: 20px 0;
  height: 100px;
  background-color: #5e0a7a;
}

.ideas,
.resources,
.action {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.items {
  display: flex;
  gap: 0 25px;
  padding-top: 10px;
}

.ideas div {
  background-color: #67939c;
  width: 200px;
}

.resources div {
  background-color: #e97e37;
  width: 200px;
}

.action div {
  background-color: #94b959;
  width: 200px;
}
